New Fantastic Dataset 2019/2020

In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import plotly.express as px
from plotly import graph_objects as go
import seaborn as sns
import missingno as msno

from collections import Counter
from mpl_toolkits.mplot3d import Axes3D
from collections import defaultdict
from scipy.stats.stats import pearsonr

In [3]:
df = pd.read_csv('new_train_cleaned.csv')

In [4]:
df.head()

,Unnamed: 0,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,PurchYear,PurchMonth,PurchDay,PurchWeekDay,EngineLiters,NumCylinders,4X4,WheelDrive,NumDoors,IsBadBuy
0,0,326,1,1,2008.0,2.0,1,1.0,1.0,1,...,2010.0,10.0,25.0,1,3.263482,6.0,1,1,4.0,1
1,1,42991,2,2,2006.0,3.0,2,2.0,2.0,1,...,2009.0,5.0,27.0,2,2.700000,6.0,1,1,4.0,0
2,2,55273,3,3,2008.0,2.0,2,3.0,3.0,2,...,2010.0,3.0,18.0,3,5.413688,6.0,1,1,4.0,0
3,3,29058,4,3,2005.0,4.0,3,4.0,4.0,3,...,2009.0,6.0,8.0,1,3.900000,6.0,2,2,4.0,0
4,4,34991,5,2,2005.0,4.0,2,5.0,5.0,3,...,2009.0,3.0,4.0,2,3.300000,7.0,2,2,5.0,0

In [9]:
df[['SubModel']]

       SubModel
0             1
1             1
2             2
3             3
4             3
5             1
6             1
7             1
8             1
9             1
10            1
11            1
12            4
13            1
14            1
15            1
16            1
17            1
18            5
19            1
20            1
21            4
22            6
23            3
24            7
25            1
26            1
27            1
28            4
29            3
...         ...
58354         1
58355         1
58356         1
58357         1
58358         1
58359         4
58360         1
58361         3
58362         1
58363         4
58364         4
58365         1
58366         1
58367         5
58368         6
58369         3
58370         1
58371         1
58372         1
58373         5
58374         4
58375         1
58376         1
58377         7
58378         1
58379         6
58380         1
58381         1
58382         1
58383         1

[58384 rows x 1 columns]

In [1]:
from fim import apriori